# Intro to Python

## Output
Outputing informaiton is done with the print funciton

print("Hello World")

In [ ]:
print("This is Pathways to Tech")

## Comments

Anything after the # symbol is a comment.  You can start a comment at the beginning of a line, or after code in a line.

In [ ]:
# Output Multiple values
print("This is P2T", 'Introduction to Python')

# Variables

Variables are used to store data for later use in a program.

* Assignment is done with the = operator
* LHS = RHS  ( The RHS is evaluated and **assigned** to the left hand side. )

In [ ]:
name = "Jon"
print(name)

In [ ]:
# Is this legal?
y = 3
x +5 = y

In [ ]:
velocity = 50  # moving at 5 miles an hour
time = 2       # Traveling for 2 hours

distance = velocity * time
print(distance)

## Naming Variable Rules

1. First character must be _ or A-Z, a-z
2. Any remaining characters can be 0-9, _, A-Z, or a-z
3. Can be any length
4. It cannot be a keyword
5. It is case sensitive

In [ ]:
cash_four_car = 2500
print(cash_four_car)

In [ ]:
# What prints?
velocity = 100
Velocity = 150
print(velocity)

Conventions vs Rules
** Names should be meaningful **

Naming rules are enforced by Python as it executes your script.
Naming convention is a guideline, or a suggestion

## Input - Strings

We need some way to get information from the user into our program.  The **input** function to the rescue.

The format is 

input( [prompt]) -> string


** input always returns a string, no matter what you are asking for.  You must convert it into the data type you want **

In [1]:
name = input("what is your name ==> ")
print("Hi your name is ", name)

what is your name ==> Jon
Hi your name is  Jon

# Data types

Programming languages handle different data types.  Each has it's own specific uses which model our own thinking.

| Data type | Description |
|-----------|-------------|
| str string | A literal string representing text.  Can begin and end with " or ' |
| int - integer | A numeric value with no decimal portion |
| float | A floating point value.  A number with decimal precision |
| bool ( Boolean ) | Booleans are True False.  They only have 2 states and represent basic logic |
| list | Lists are collections of objects |
| dict - dictionary | A dictionary has a key value pair of collection of objects |

## Integers

Integers are a numeric value and do not contain any decimal precision.

In [ ]:
speed = 60     # velocity in miles per hour
distance = 120 # how far we need to travel for our trip

time = distance / speed  # How long it will take us
print("You will travel", distance, "in", time, "hours with the current rate of ", speed, "mph")

## Float

Floats are numeric values with a precision

In [ ]:
pi = 3.14
print( type(pi))
print(pi)

## Input - Numbers

As stated above: input always returns a string, no matter what you are asking for. You must convert it into the data type you want.

In [2]:
#Inputting an integer
age=int(input("How old are you? "))
print("You are ",age," year old.")

How old are you? 36
You are  36  year old.

Notice above, I wanted only an integer so I used the data type in the type for integer - int()

In [ ]:
#Inputting a float/decimal
cost=float(input("How much did you spend at the store? "))
print("You spent ",cost)

You can input whole numbers as floats, but you can't input a float as a whole number.

# Operators

| Operator | It's function |
|----------|---------------|
| + | Addition  ( a + b ) |
| - | Subtraction ( a - b ) |
| * | Multiplication ( a * b ) |
| / | Division ( a / b ) |
| ** | Exponent a \*\* b.    2\*\*3 is 2\*2\*2 evaluates to 8 |
| // | Division with only the quotient remainder   5 // 2  would be just 2 |
| % | Modulus operator.  Gives the remainder  12 % 10 evalutes to 2 |

In [ ]:
a = 5
b = 12
c = a + b
print(c)

In [ ]:
a = 5
b = 3

c = a - b
print(c)

In [ ]:
a = 10
b = 3

value = a / b
quotient = a // b
remainder = a % b
print(value)
print(quotient)
print(remainder)

In [ ]:
a = 10

b = 10 ** 3

print(b)